<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-size="16px" font-family="arial" color="#212121" line-height="1.5" />
    </mj-attributes>
    <mj-style inline="inline">
      .user-info-table th {
        text-align: left;
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-image align="left" width="160px" src="https://www.satrack.com.co/wp-content/uploads/2018/12/satrack-logo-color.png"></mj-image>

        <mj-text>An user has been registered in Get a Quote app <br /> You'll receive a copy of the quote soon.</mj-text>

      </mj-column>
    </mj-section>

    <mj-section padding="0">
      <mj-column>
        <mj-text>
          <strong>Client info</strong> <br />
          First Name: <?= $user_firstname ?>
        <br />
          Last Name: <?= $user_lastname ?>
        <br />
          Email: <?= $user_email ?>
        <br />
          Assets amount: <?= $assets_amount ?>
        <br />
          Contract option: <?= $option ?>
        <br />
          Contract Length: <?= $contract_length ?>
        <br />
          Features: <?= $selected_features ?>
        <br />
          Other features: <?= $other_feature ?>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
